*.nw.b
*.nw.b^-1
*.nw.c
*.nw.cfock
*.nw.db
*.nw.lagr
*.nw.movecs
*.nw.oexch
*.nw.out
*.nw.p
*.nw.vecs
*.nw.zmat
*.qw.basis
*.qw.config
*.qw.config.backup
*.qw.jast2
*.qw.jast3
*.qw.json
*.qw.log
*.qw.o
*.qw.orb
*.qw.slater
*.qw.sys
*.qw.wfout
