name: Documentation
on:
  push:
  pull_request:
  schedule:
    - cron: '0 6 * * 1'
jobs:
  build:
    if: github.event_name != 'schedule' || github.repository == 'deepqmc/deepqmc'
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-python@v2
        with:
          python-version: 3.x
      - name: Install dependencies
        run: pip install "sphinx<6" Jinja2 sphinxcontrib-katex toml docutils pydata-sphinx-theme
      - uses: actions/checkout@v2
      - name: Build
        run: sphinx-build -W -E doc doc/build
      - run: touch doc/build/.nojekyll
